# MLflow
mlruns/*
mlartifacts/*
basic_auth.db

# Logs
logs/*

# Dataset
dataset/*

# Python cache
*.DS_store
__pycache__/
*.py[cod]

# Vscode
.vscode/*

# Output
output/*
registered_models/*

# For experiment 
tmp/*

!dataset/README.md